.homepage{
    box-sizing: border-box;
    background-image: 
    url(
  "https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNsb3RoZXMlMjByYWNrfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: "cover";
  background-repeat:no-repeat; 
  height: 90vh;
  width: 1000px;
 
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;

}
.body{
    padding-top: 130px;
    padding-left: 200px;
   
}
.searchbar{
   
    box-sizing: border-box;
    width: 600px;
    height: 60px;
    border-radius: 12px;
    background-color: white;

    
}
.searchbar-mini{
   
    box-sizing: border-box;
    width: 600px;
    height: 57px;
    border-radius: 12px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #696969;
    margin-top: 25px;

    
}
::placeholder {
    color: #9d9a9a;
}
.input{
    outline: none;
    color: #9d9a9a;
    padding-left: 35px;
    font-size: 25px;
    border: none;
    box-sizing: border-box;
    width: 550px;
    height: 35px;
    border-radius: 12px;
    background-color: white;
   

}
.input-mini{
    outline: none;
    color: #9d9a9a;
    padding-left: 35px;
    font-size: 25px;
    border: none;
    box-sizing: border-box;
    width: 350px;
    height: 30px;
    border-radius: 12px;
    background-color: white;   

}
.icon{
    height: 35px;
    width: 30px;
    padding-top: 13px;
    color: #928e8e;
}
.icon-mini{
    height: 35px;
    width: 30px;
    padding-top: 13px;
    padding-left: 200px;
    color: #928e8e;
}
.heading{
    font-size: 40px;
    margin-top: 25px;
   
}
.header{margin-top: 30px;
    width: 300px;
    display: flex;
    margin-bottom: 20px;
}
.heading-1{
    font-size: 22px;
   
}
.down-arrow{
    padding-top: 7px;
    padding-left: 14%;
    position:absolute;   
}
.yellow{
color: rgb(221, 217, 2);
}
.gray{
    color: #c0bbbb;
}
.sidebar{
    padding-left: 40px;
    width: 300px;
    
}
.search-result-body{
    display: flex;
}
.result-data{
    margin-top: 80px;
   
    width: 100%;
}
.card-container{
    width: 200px;
    margin: 20px 15px 30px 15px;
}
.cart-item{
    margin-top: 75px;
}
.total-review{
    font-size: 12px;
    position:absolute;
    padding-left: 4px;
    padding-top: 1px;
}
.strikethrough{

    text-decoration: line-through;
    color: #a5a3a3;
    font-weight: 300;
}
.price{
    color: #3980f9;
    padding-left: 8px;
    font-weight: 600;
}
.heart-icon{
    padding-top: 10px;
    padding-left: 176px;
    color: white;
}
.filled-heart{
    padding-top: 10px;
    padding-left: 176px;
    color: red;
}
.result-data{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}
.product-hidden{
    position:absolute;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 184px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(62, 35, 232);
    opacity: 0;
}
.product-visible{
    position:relative;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 184px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(62, 35, 232);
    opacity: 0.5;
}